 ol,ul{list-style:none;}table{border-spacing:0;border-collapse:collapse;}

 div.switcherContainer {
	clear: both;
	border: 0;
	height:/*450px;*/250px;
	overflow: auto;
	width:205px !important;
}
 	
	
#style-switcher {
	background:#2458a0;
	color: rgb(255,255,255);
	position: fixed;
	top:353px;
	left: -235px;
	margin-top: -190px;
	padding: 15px;	
	width: 230px;
}

#style-switcher .close {
	position: absolute;
	top: 0;
	right: /*-38px;*/-55px;
	width: 60px;
	height: 38px;
	display:block;
	background:#2458a0;
	font-size: 15px;/*1em*/;
	font-weight:bold; /*100;*/
	color: rgb(255,255,255);
	text-align: center;
	cursor: pointer;
	opacity:1;
}

#style-switcher .close {
	padding-top: 8px;
	padding-bottom:8px;
	padding-right:8px;
	padding-left:5px;
}

#style-switcher .close:hover {
	text-decoration: none;
}

#style-switcher .label {
	display: block;
	font-weight: 700;
	font-size: 11px;
	padding-bottom: 8px;
	border-bottom: 1px solid rgb(50,50,50);
	margin-bottom: 10px;
}

.scheme-switcher li {
	float: left;
	margin-right: 10px;
	font-size: 11px;
	font-weight: 700;
}
.scheme-switcher li a {
	display: block;
	padding: 7px;
}

.scheme-switcher li a.active {
	border-color: rgb(255,255,255);
}

.scheme-switcher a {
	color: inherit;
	cursor: default;
}

.color-switcher a:hover {
	text-decoration: none;
}

.color-label i {
	font-size: 20px;
	color: rgb(210,210,210);
	display: block;
	text-align: center;
	margin: 10px 0px;
}

.color-switcher li {
	margin: 2px;
	float: left;
	width: 25px;
	height: 20px;
}

.color-switcher a {
	display: block;
	width: 25px;
	height: 19px;
	cursor: pointer;
	text-align: center;
	font-family: "FontAwesome";
	font-weight:normal;
	font-size: 11px;
	color: rgb(255,255,255);	
	padding-top: 6px;
}

.color-switcher a:hover:before{
	display:block;
	font-size: 11px;
	content: '\f067';
}

.color-switcher a.active:hover:before {
	content: "\f00c";
	font-size: 11px;
	padding: 0px;
}

.color-switcher .active:before {
	display: block;
	content:  "\f054";
}
 
.back-home i {
	font-size: 20px;
	color: rgb(210,210,210);
	display: block;
	text-align: center;
	margin: 10px 0px;
}

.back-home:hover i {
	color: rgb(30,30,30);
}